// COLOR
$color-black:rgb(0, 0, 0);
$color-maroon:#530607;

$color-dark-grey:rgb(93, 93, 93);
$color-white-section:#c2c8ba;
$color-white2-section:#a1a49d;
$color-dark-maroon:#1a1010;

$color-secondary-light:#1A120B;
$color-secondary-dark:#3C2A21;

$color-red-card2:#4B0000;
$color-navy-card2:#1B2E3C;
$color-black-card2:#0C0C1E;

$color-black-card3: #0b0b0b;
$color-grey-card3: #282A3A;
$color-gold-card3: #735F32;

$color-black-book:#171717;
$color-grey-book:#6C7665;

// FONT
$default-fount-size:1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;