.feature-box{
    background-color: rgba($color-maroon, 0.8);
    color: $color-white-section;
    font-size: 1.5rem;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.5);
    padding:2.5rem ;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform .2s;
    text-align: center;

    @include respond(tab-port){
        padding: 2rem;
    }

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to left,rgba(#171717, 0.8),rgba(#6C7665, 0.9));
        display: inline-block;
        background-clip:text;
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port){
            margin-bottom: 0;
        }
    }



    &:hover{
        transform : translateY(-1.5rem) scale(1.03);
    }
   
}