.welcome {
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 3rem;
  color: $color-white;
  &__name {
    margin-block-end: 0;
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-maroon;
    // color: $color-secondary;
  }
}

.date {
  font-size: 1.4rem;
  margin-right: 3rem;
  font-weight: 400;
  color: $color-white;
}
